/*!
 * VisualEditor Initialization Debug Bar styles.
 *
 * @copyright 2011-2016 VisualEditor Team and others; see http://ve.mit-license.org
 */

.ve-ui-debugBar-commands {
	margin-bottom: -0.5em;
}

.ve-ui-debugBar-commands > .oo-ui-widget,
.ve-ui-debugBar-commands-divider {
	display: inline-block;
	margin-right: 1em;
	margin-bottom: 0.5em;
	vertical-align: middle;
}

.ve-ui-debugBar-commands > .oo-ui-widget:last-child {
	margin-right: 0;
}

.ve-ui-debugBar-selectionLabel {
	min-width: 20em;
	font-family: monospace;
	font-size: 1.2em;
}

.ve-ui-debugBar-commands-divider {
	width: 0;
	border-right: 1px solid #ddd;
}

.ve-ui-debugBar-dump {
	margin-top: 2em;
}

.ve-ui-debugBar-dump > table {
	width: 100%;
	background-color: #f3f3f3;
	border: 1px solid #ddd;
	border-radius: 0.25em 0.25em 0 0;
	font-size: 0.85em;
}

.ve-ui-debugBar-dump > .oo-ui-buttonWidget {
	margin-bottom: 0.25em;
}

.ve-ui-debugBar-dump td {
	padding: 0.25em 1em;
	background-color: #fff;
	vertical-align: top;
}

.ve-ui-debugBar-dump-linmod-data,
.ve-ui-debugBar-dump-linmod-metadata {
	width: 27%;
}

.ve-ui-debugBar-dump th {
	color: #555;
	padding: 0.5em 1em;
	text-shadow: 0 1px 1px #fff;
}

.ve-ui-debugBar-dump ol {
	color: #999;
	padding-left: 1.5em;
}

.ve-ui-debugBar-dump li > span {
	color: #000;
	display: inline-block;
	background-color: #f3f3f3;
	margin: 0.25em 0 0.25em 0;
	padding: 0.125em 0.5em;
	border-radius: 0.3em;
	text-shadow: 0 1px 1px #fff;
}

.ve-ui-debugBar-dump li > span > span {
	color: #aaa;
	text-shadow: 0 1px 1px #fff;
}

.ve-ui-debugBar-dump li .ve-ui-debugBar-dump-undefined {
	color: #aaa;
}

.ve-ui-debugBar-dump li .ve-ui-debugBar-dump-element {
	background-color: #def;
}

.ve-ui-debugBar-dump li .ve-ui-debugBar-dump-char {
	background-color: #dfe;
}

.ve-ui-debugBar-dump li .ve-ui-debugBar-dump-achar {
	background-color: #fed;
}

.ve-ui-debugBar-filibuster {
	display: none;
	width: 100%;
	margin-top: 2em;
	background-color: #f3f3f3;
	border: 1px solid #ddd;
	border-radius: 0.25em 0.25em 0 0;
	font-size: 0.875em;
}

.ve-ui-debugBar-filibuster td {
	padding: 0.25em 1em;
	background-color: #fff;
	vertical-align: top;
}

.ve-ui-debugBar-filibuster th {
	color: #555;
	padding: 0.5em 1em;
	text-shadow: 0 1px 1px #fff;
}
