[access]
	inheritFrom = VisualEditor
[project]
[access "refs/*"]
	owner = group VisualEditor
	create = group Administrators
	push = +force group Administrators
	label-Verified = -1..+2 group VisualEditor
	submit = group VisualEditor
[access "refs/heads/wmf/*"]
	submit = group VisualEditor
[access "refs/heads/gh-pages"]
	push = +force group VisualEditor
