[access]
	inheritFrom = VisualEditor
[project]
[access "refs/*"]
	owner = group VisualEditor
	owner = group mediawiki
	create = group Administrators
	push = +force group Administrators
[access "refs/heads/wmf/*"]
	submit = group JenkinsBot
	submit = group wmf-deployment
	exclusiveGroupPermissions = create forgeCommitter label-Code-Review push submit
	create = group wmf-deployment
	forgeCommitter = group wmf-deployment
	push = deny group Project Owners
	push = deny group VisualEditor
	push = +force group Administrators
	label-Code-Review = -2..+2 group wmf-deployment
	label-Code-Review = -2..+1 group JenkinsBot
	label-Code-Review = -1..+1 group Project Owners
[access "refs/heads/gh-pages"]
	push = +force group VisualEditor
