/*!
 * VisualEditor ContentEditable TableCellNode styles.
 *
 * @copyright 2011-2014 VisualEditor Team and others; see http://ve.mit-license.org
 */

.ve-ce-tableCellNode {
	border: 1px dotted #ccc;
	padding: 0.25em 0.5em;
}

.ve-ce-tableNode-focused > tbody > tr > .ve-ce-tableCellNode {
	border-style: solid;
}

.ve-ce-tableCellNode {
	min-width: 1em;
}

.ve-ce-tableCellNode .ve-ce-paragraphNode {
	margin: 0;
}

thead .ve-ce-tableCellNode {
	background-color: #EEE;
}
