/*!
 * VisualEditor ContentEditable AlienNode styles.
 *
 * @copyright 2011-2018 VisualEditor Team and others; see http://ve.mit-license.org
 */

/* Support: Chrome, IE, Edge
   We have to refer to elements with these IDs we dumped into the main document, because Chrome and
   Internet Explorer do not support using fill patterns from external SVG files (or data: URIs). */
.ve-ce-alienNode-highlights .ve-ce-focusableNode-highlight g path {
	/* Yup, stylelint thinks this is a hex color... */
	fill: url( #ve-ce-alienNode-pattern-hover ); /* stylelint-disable-line color-no-invalid-hex */
	cursor: not-allowed;
}

.ve-ce-surface-highlights-focused .ve-ce-alienNode-highlights .ve-ce-focusableNode-highlight g path {
	fill: url( #ve-ce-alienNode-pattern-focus ); /* stylelint-disable-line color-no-invalid-hex */
}

.ve-ce-surface-highlights-blurred .ve-ce-alienNode-highlights .ve-ce-focusableNode-highlight {
	opacity: 0.5;
}
