/*!
 * VisualEditor UserInterface CommentContextItem styles.
 *
 * @copyright 2011-2016 VisualEditor Team and others; see http://ve.mit-license.org
 */

.ve-ui-commentContextItem .ve-ui-linearContextItem-body {
	color: #555;
	overflow: auto;
	margin: 0 0.5em 1em 0.5em;
	padding: 0.5em 0.5em 0 0.5em;
	font-family: 'Courier New', 'Courier', monospace;
	line-height: 1.25em;
	max-height: 10em;
	white-space: pre-wrap;
}
