/*!
 * VisualEditor UserInterface LinearContextItem styles.
 *
 * @copyright 2011-2016 VisualEditor Team and others; see http://ve.mit-license.org
 */

.ve-ui-linearContextItem-head {
	display: table;
	width: 100%;
}

.ve-ui-linearContextItem-title {
	display: table-cell;
	overflow: hidden;
	width: 1%;
	padding: 0.5em 1em;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ve-ui-linearContextItem-icon {
	background-position: center center;
	background-repeat: no-repeat;
	display: inline-block;
	width: 1.875em;
	height: 1.875em;
	vertical-align: middle;
}

.ve-ui-linearContextItem-label {
	display: inline-block;
	min-width: 4em;
	margin-left: 0.5em;
	vertical-align: middle;
}

.ve-ui-linearContextItem-info {
	display: table-cell;
	position: relative;
	width: 99%;
}

.ve-ui-linearContextItem-description {
	color: #888;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	line-height: 3.6em;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ve-ui-linearContextItem-actions {
	display: table-cell;
	width: 1%;
	padding: 0.5em;
}

.ve-ui-linearContextItem-body {
	max-height: 15em;
	overflow: auto;
}

.ve-ui-linearContextItem-body:not( :empty ) {
	padding: 0 1em 1em 1em;
}
