/*!
 * VisualEditor UserInterface SpecialCharacterDialog styles.
 *
 * @copyright 2011-2016 VisualEditor Team and others; see http://ve.mit-license.org
 */

.ve-ui-specialCharacterDialog .oo-ui-outlineOptionWidget {
	padding: 0.25em 0.5em;
}

.ve-ui-specialCharacterDialog .oo-ui-bookletLayout {
	height: 150px;
}

/* When displaying inside another dialog, make the menu narrower */
.oo-ui-dialog .ve-ui-specialCharacterDialog .oo-ui-bookletLayout .oo-ui-menuLayout-menu {
	width: 10em;
}

.oo-ui-dialog .ve-ui-specialCharacterDialog .oo-ui-bookletLayout .oo-ui-menuLayout-content {
	left: 10em;
}

.oo-ui-bookletLayout-stackLayout > .ve-ui-specialCharacterPage {
	padding: 0.5em;
}

.ve-ui-specialCharacterPage h3 {
	color: #888;
	margin: 0 0 0.5em 0;
	font-size: 1em;
	font-weight: normal;
}

.ve-ui-specialCharacterPage-characters {
	white-space: normal;
}

.ve-ui-specialCharacterPage-character {
	display: inline-block;
	min-width: 1.8em;
	height: 1.8em;
	margin: 0 3px 3px 0;
	border: 1px solid #e6e6e6;
	font-size: 1.5em;
	line-height: 1.8em;
	text-align: center;
	cursor: pointer;
	-moz-transition: border-color 200ms;
	-o-transition: border-color 200ms;
	-webkit-transition: border-color 200ms;
	transition: border-color 200ms;
}

.ve-ui-specialCharacterPage-character:hover {
	border-color: #ccc;
}
