/*!
 * VisualEditor UserInterface SpecialCharacterDialog styles.
 *
 * @copyright See AUTHORS.txt
 */

.ve-ui-symbolListPage-symbol.ve-ui-specialCharacterDialog-source {
	/* Specify a valid second value to fix size in Chrome/FF */
	font-family: monospace, 'Courier';
	font-size: 1em;
	line-height: 2.7em;
	height: 2.7em;
	padding: 0 0.2em;
	display: none;
}

.ve-ui-symbolListBookletLayout.ve-ui-specialCharacterDialog-characterList-source .ve-ui-symbolListPage-symbol.ve-ui-specialCharacterDialog-source {
	display: inline-block;
}
