/*!
 * VisualEditor ContentEditable LanguageAnnotation styles.
 *
 * @copyright 2011-2015 VisualEditor Team and others; see http://ve.mit-license.org
 */

.ve-ce-linkAnnotation-active, .ve-ce-linkAnnotation {
	box-shadow: 0 0 0 1px #C6E0FF;
	border-radius: 0.2em;
	padding: 2px;
	margin: -2px;
	background-color: #E6F1FF;
}

.ve-ce-nail:not( .ve-ce-nail-debug ) {
	width: 0;
	height: 0;
}

.ve-ce-nail {
	width: 0;
	height: 0;
	margin: 0;
	border: 0;
	outline: 0;
}

.ve-ce-nail.ve-ce-nail-pre-open {
	box-shadow : 0 0 0 0.125em  red;
}

.ve-ce-nail.ve-ce-nail-post-open {
	box-shadow : 0 0 0 0.125em  #aa0;
}

.ve-ce-nail.ve-ce-nail-pre-close {
	box-shadow : 0 0 0 0.125em  green;
}

.ve-ce-nail.ve-ce-nail-post-close {
	box-shadow : 0 0 0 0.125em  purple;
}
