/*!
 * VisualEditor UserInterface MediaSizeWidget styles.
 *
 * @copyright 2011-2018 VisualEditor Team and others; see http://ve.mit-license.org
 */

.oo-ui-horizontalLayout .ve-ui-mediaSizeWidget-section-sizetype {
	max-width: 10em;
	margin-right: 1.5em;
}

/*
.ve-ui-mediaSizeWidget-section-scale {
	max-width: 5em;
}
*/
